@charset "UTF-8";

body{
    background-color: rgb(144, 87, 197);
}

main{
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;

    margin: auto;
    min-width: 270px;
    max-width: 800px;

    text-align: justify;
}

img{
    width: 100%;
}
